<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.ramserver.mapper.TradeMapper">
    <select id="buyList" parameterType="com.example.ramserver.vo.TradeVo" resultType="com.example.ramserver.vo.TradeVo">
        select * from tradeView where buyerId = #{buyerId} and tradeTime > #{tradeTime} order by tradeTime;
    </select>

    <select id="sellList" parameterType="com.example.ramserver.vo.TradeVo" resultType="com.example.ramserver.vo.TradeVo">
        select * from tradeView where sellerId = #{sellerId} and tradeTime > #{tradeTime} order by tradeTime;
    </select>

    <select id="FindRegion" parameterType="com.example.ramserver.vo.FindRegionVo" resultType="com.example.ramserver.vo.PurchaseRegionVo">
        select ID,userName,region from user where ID=#{buyer} or ID=#{owner};
    </select>
</mapper>